SERVICE_NAME=users
SOURCE_DB_URL=postgresql+psycopg2://postgres:postgres_secure_2025@<DB_HOST>:5432/auth_db
TABLES=users,roles,user_roles
AWS_REGION=us-east-1
S3_BUCKET=urate-analytics-ingesta
S3_PREFIX=raw
OUTPUT_FORMAT=csv
