# Network / DB host
DB_HOST=172.31.36.152

# S3 destination
S3_BUCKET=utecrate-analytics-ssilvar

# AWS config
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
AWS_SESSION_TOKEN=YOUR_SESSION_TOKEN_IF_NEEDED

# PostgreSQL (users)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_secure_2025
POSTGRES_DB=auth_db

# MySQL (content)
MYSQL_USER=utec_user
MYSQL_PASSWORD=utec_pass_2025
MYSQL_DB=academic_db

# MongoDB (reviews)
MONGO_DB=reviews_db

# Ingestion scope
USERS_TABLES=usuarios,refresh_tokens,acceso_padlet
CONTENT_TABLES=carrera,curso,profesor_curso
REVIEWS_COLLECTIONS=reviews,ratings,comments
